.containerDeck {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containeritemMenu {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.containermenuDeck {
    padding: 0.5em;
    width: 95%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
}

.rigthItemMenu {
    float: right;
    width: 25%;
    justify-content: left;
    display: flex;
    align-items: center;
}

.leftItemMenu {
    float: left;
    width: 25%;
    justify-content: right;
    display: flex;
    align-items: center;
}

.centerItemMenu {
    float: center;
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.inputNameDeck {
    width: 100%;
    border: none;
    border-bottom: 2px inset black;
    border-radius: 10 px;
    outline: none;
    font-size: 20px;
    text-align: center;
}

.containerCards {
    height: 90vh;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
}
.error{
    margin-top: 1em;
    margin-bottom: 0;
    color: red;
}

/* CSS */
.button-57 {
    margin: 1em;
    position: relative;
    overflow: hidden;
    border: 1px solid #18181a;
    border-radius: 5px;
    color: #18181a;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    padding: 10px 30px 10px;
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-57 span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
}

.button-57 span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
}

.button-57:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
}

.button-57:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}