@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&display=swap');

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    display: flex;
    flex: 1;
    padding: 20px;
}

.containerCard {
    /* flex: 0 0 200px; */
    padding-right: 20px;
    border-right: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    background: #606c88;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f4c6b, #606c88);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
}

.containerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    font-family: 'Alegreya', serif;
    font-style: italic;

    background: white;
}

.wrapperForm {
    padding: 1em 5em 1em 5em;
    box-shadow: 10px 10px 20px;
    border-radius: 15px;
}

.containerForm h1 {
    font-size: 50px;
    margin: 0 0 1em;
}

.card-content {
    font-family: 'Alegreya', serif;
    font-style: italic;
    width: 450px;
    border: 13px solid transparent;
    box-shadow: 10px 10px 20px;
    border-radius: 10px;
}

.card-content h3,
h4 {
    background-color: #f5b267;
    border: 3px solid;
    border-radius: 20px/50px;
    box-shadow: 0 0 10px;
    margin: 0 0 1px;
    padding: 0 0 2px 7px;
}

.image-box {
    border: 3px solid;
    box-shadow: 0 0 10px;
    display: block;
    margin: auto;
    padding: 1px;
    max-width: 400px;
    max-height: 400px;
}

.info-box {
    background-color: #fbf7d5;
    border: 3px solid;
    border-radius: 5px;
    box-shadow: 0 0 10px;
    padding: 7px 7px 0 7px;
    text-align: justify;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-item-title {
    font-weight: bold;
}

.description {
    font-size: 15px;
}

.credits {
    color: #001917;
    font-size: 15px;
    font-style: italic;
    margin: 0 7px 10px 0;
}

.containerInputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

}

.inputCard {
    font-size: 20px;
}

.containerInputs input {
    height: 30px;
    font-size: 15px;
    font-family: 'Alegreya', serif;

    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.containerInputs select {
    height: 30px;
    font-size: 15px;
    font-family: 'Alegreya', serif;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background-color: white;
}

.containerInputs textarea {
    min-height: 100px;
    min-width: 400px;
    font-size: 15px;
    font-family: 'Alegreya', serif;
    border-radius: 10px;
    border: #001917 solid 2px;
    max-width: 600px;
    max-height: 150px;
}

.button-54 {
    margin-top: 1.5em;
    font-family: 'Alegreya', serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

@media (min-width: 768px) {
    .button-54 {
        padding: 0.25em 0.75em;
    }
}